dist
coverage
node_modules

npm-debug.log

.DS_Store
.dockerignore
.gitignore
.huskyrc
.lintstagedrc

Dockerfile
docker-compose.yml
commitlint.config.js

README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
LICENSE