@import './colors.scss';

.theme-nap {
  background-color: #f0f1f1;
  color: #444f55;
}

.theme-fdk {
  background-color: #eeeff0;
  color: #2d3741;
}

/*  HEADER  */

.fdk-header {
  .nav a {
    font-size: 1.5rem;
    text-decoration: none;
    @include themify($themes) {
      color: themed('text-link');
    }

    &:focus,
    &:active,
    &:hover {
      @include themify($themes) {
        color: themed('text-link') !important;
      }
    }
  }
}

.fdk-button-language {
  background-color: transparent !important;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  text-decoration: none;
  margin-right: 0.5em;
  @include themify($themes) {
    color: themed('text-link') !important;
  }
  font-size: 1.5rem;
  &:focus,
  &:active,
  &:hover {
    @include themify($themes) {
      color: themed('text-link') !important;
    }
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

.fdk-button-account {
  background-color: transparent !important;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  text-decoration: none;
  margin-right: 0.5em;
  @include themify($themes) {
    color: themed('text-link') !important;
  }
  font-size: 1.5rem;
  &:focus,
  &:active,
  &:hover {
    @include themify($themes) {
      color: themed('text-link') !important;
    }
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

.btn-group .fdk-button-menu {
  &:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    content: '\f0c9';
    margin-right: 0.2em;
  }
}

.modal-header {
  h5 {
    color: $color-white;
  }
  button {
    span {
      font-size: 2rem;
      @include themify($themes) {
        color: themed('color-danger');
      }
    }
  }
}

/*  I N P U T  */
.fdk-search {
  @include themify($themes) {
    color: themed('color-neutral-darkest');
    border: 1px solid themed('color-neutral-darkest');
  }
  border-radius: 5px;
  font-size: 2rem;
  line-height: 3;
  width: 100%;
  padding: 12px 16px;
  margin: 0 0 60px 0px;
}

::-webkit-input-placeholder {
  /* PLACEHOLDER COLOR FOR: WebKit, Blink, Edge */
  @include themify($themes) {
    color: themed('color-neutral-dark');
  }
}

:-moz-placeholder {
  /* PLACEHOLDER COLOR FOR: Mozilla Firefox 4 to 18 */
  @include themify($themes) {
    color: themed('color-neutral-dark');
  }
  opacity: 1;
}

::-moz-placeholder {
  /* PLACEHOLDER COLOR FOR: Mozilla Firefox 19+ */
  @include themify($themes) {
    color: themed('color-neutral-dark');
  }
  opacity: 1;
}

:-ms-input-placeholder {
  /* PLACEHOLDER COLOR FOR: Internet Explorer 10-11 */
  @include themify($themes) {
    color: themed('color-neutral-dark');
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .fdk-search {
    font-size: 3rem;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
