@import '../../assets/designsystemet/scss/colors.scss';

.search-hit-header-title {
  font-size: 2.8rem;
  font-weight: 600;

  & + h3 {
    font-size: 2rem;
    font-weight: 600;
  }
}

.search-hit__title-link {
  text-decoration: none;
  @include themify($themes) {
    color: themed('color-text-link');
  }
}

.fdk-label, a.fdk-label {
  @include themify($themes) {
    background-color: themed('color-neutral-lighter');
    color: themed('color-neutral-darkest') !important;
  }
  font-size: 1.4rem !important;
  border-radius: .9em !important;
  padding: .0em .6em .0em .6em !important;
  display: inline-block !important;
  line-height: 1.5em !important;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    @include themify($themes) {
      background: themed('color-neutral-darkest') !important;
      color: themed('color-neutral-lightest') !important;
    }
  }
}

.fdk-national-component {
  @include themify($themes) {
    background-color: themed('color-neutral-darkest');
    color: themed('color-neutral-lightest');
  }
  font-size: 1.4rem !important;
  border-radius: .9em !important;
  padding: .0em .6em .0em .6em !important;
  display: inline-block !important;
  line-height: 1.5em !important;
}

.fdk-label-details, a.fdk-label-details {
  @include themify($themes) {
    background-color: themed('color-neutral-light');
    color: themed('color-neutral-darkest') !important;
  }
  font-size: 1.4rem !important;
  border-radius: .9em !important;
  padding: .0em .6em .0em .6em !important;
  display: inline-block !important;
  line-height: 1.5em !important;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    @include themify($themes) {
      background: themed('color-neutral-darkest') !important;
      color: themed('color-neutral-lightest') !important;
    }
  }
}

.fdk-national-component-icon {
  background-image: url(../../img/icon-authoritative-sm.svg);
  width: 1em; 
  height: 1em;
  display: inline-block;
}

.fdk-expired {
  color: $color-danger;
}

.fdk-will-be-valid {
  color: $color-neutral-dark;
}
