@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-label-item {
  display: inline-block;
}

.fdk-label-item:not(:last-child)::after {
  display: inline-block;
  white-space: pre;
  content: ", ";
}

.fdk-icon-catalog-concept {
  background-image: url("/img/icon-catalog-concept-lg.svg");
  width: 3.5em; 
  height: 3.5em;
  display: inline-block;
}

section.fdk-validity {
  display: flex;
  background: $color-white;

  & > div {
    flex: 1 0 auto;
    padding: 1em 2em;
    
    &:last-of-type {
      border-left: 1px solid $color-neutral-light;
    }

    & p {
      margin: 0;
    }
  }
}
