@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-header {
  align-items: center;
  display: flex;
  height: 80px;
  padding: 0 1.2em !important;
  .fdk-logo {
    height: 35px;
    @media (min-width: 768px) {
      height: 40px;
    }
  }

  .nap-logo {
    height: 40px;
    @media (min-width: 768px) {
      height: 60px;
    }
  }

  @include themify($themes) {
    background-color: themed('color-header-bg') !important;
  }
  .nav {
    a {
      font-size: 1.6rem;
      @include themify($themes) {
        color: themed('color-header') !important;
      }
      &:hover {
        text-decoration: underline;
      }
      & > div {
        border: none;
        display: block;
        padding: 0;

        @include themify($themes) {
          color: themed('color-header') !important;
        }
        &:hover {
          text-decoration: underline;
        }

        & > svg {
          margin-left: 0.3rem;
        }
      }
    }
  }
}
